*{
  scroll-behavior: smooth;
}

body{
  background-color: rgb(24, 24, 35);
  color: azure;
  cursor : url(https://media.discordapp.net/attachments/1091847116944576573/1101655904753025035/cursor.png?width=30&height=30)0 0, auto;
}

a{
  cursor : url(https://media.discordapp.net/attachments/1091847116944576573/1101666304798249000/E_QNewEXIAYogOQ.png?width=30&height=30)0 0, auto;
}

.sound{}